<div class="background_img">
<div class="loginbox">
    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/72cd29df-61f1-4fd7-90b9-169bce5856cf/de4h6rg-e50fe454-4d44-4859-a18e-161534d630f5.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzcyY2QyOWRmLTYxZjEtNGZkNy05MGI5LTE2OWJjZTU4NTZjZlwvZGU0aDZyZy1lNTBmZTQ1NC00ZDQ0LTQ4NTktYTE4ZS0xNjE1MzRkNjMwZjUuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.PyIBk6NQq-VDAyqHQ6xWg4GUxCE-i5SGw_jvpaTxbV4" class="avatar">
    <form >
        <h1>Log in Here</h1>
        <p>Username</p>
        <input type="text" name="" placeholder="Enter Username" formControlName="Username">

        <p>Password</p>
        <input type="password" name="" placeholder="Enter Password" formControlName="Password"><br>

        <button class="btn btn-secondary btn-block mb-4" style="font-size: 18px;">Log In </button><br>
           <a routerLink="#">Forgot Password</a><br>
           <a routerLink="#">Create a acoount</a>
</form>
</div>
   
</div>



